@font-face {font-family:"uicons-solid-straight";
    src:url("../webfonts/uicons-solid-straight.woff2") format("woff2"),
    url("../webfonts/uicons-solid-straight.woff") format("woff")
}
@font-face {font-family:"uicons-bold-straight";
    src:url("../webfonts/uicons-bold-straight.woff2") format("woff2"),
    url("../webfonts/uicons-bold-straight.woff") format("woff")
}
i.fi-ss:before,
i.fi-bs:before
{font-family:uicons-solid-straight;font-style:normal;font-weight:normal !important;font-variant:normal;text-transform:none;
    line-height:1;-webkit-font-smoothing:antialiased
}
i.fi-bs:before
{font-family:uicons-bold-straight !important}

.fi-add-document:before {content:"\f101"}
.fi-add-folder:before {content:"\f102"}
.fi-add:before {content:"\f103"}
.fi-address-book:before {content:"\f104"}
.fi-alarm-clock:before {content:"\f105"}
.fi-align-center:before {content:"\f106"}
.fi-align-justify:before {content:"\f107"}
.fi-align-left:before {content:"\f108"}
.fi-align-right:before {content:"\f109"}
.fi-ambulance:before {content:"\f10a"}
.fi-angle-circle-down:before {content:"\f10b"}
.fi-angle-circle-left:before {content:"\f10c"}
.fi-angle-circle-right:before {content:"\f10d"}
.fi-angle-circle-up:before {content:"\f10e"}
.fi-angle-double-left:before {content:"\f10f"}
.fi-angle-double-right:before {content:"\f110"}
.fi-angle-double-small-left:before {content:"\f111"}
.fi-angle-double-small-right:before {content:"\f112"}
.fi-angle-down:before {content:"\f113"}
.fi-angle-left:before {content:"\f114"}
.fi-angle-right:before {content:"\f115"}
.fi-angle-small-down:before {content:"\f116"}
.fi-angle-small-left:before {content:"\f117"}
.fi-angle-small-right:before {content:"\f118"}
.fi-angle-small-up:before {content:"\f119"}
.fi-angle-square-down:before {content:"\f11a"}
.fi-angle-square-left:before {content:"\f11b"}
.fi-angle-square-right:before {content:"\f11c"}
.fi-angle-square-up:before {content:"\f11d"}
.fi-angle-up:before {content:"\f11e"}
.fi-angry:before {content:"\f11f"}
.fi-apple-whole:before {content:"\f120"}
.fi-apps-add:before {content:"\f121"}
.fi-apps-delete:before {content:"\f122"}
.fi-apps-sort:before {content:"\f123"}
.fi-apps:before {content:"\f124"}
.fi-archive:before {content:"\f125"}
.fi-arrow-circle-down:before {content:"\f126"}
.fi-arrow-circle-left:before {content:"\f127"}
.fi-arrow-circle-right:before {content:"\f128"}
.fi-arrow-circle-up:before {content:"\f129"}
.fi-arrow-down:before {content:"\f12a"}
.fi-arrow-from-bottom:before {content:"\f12b"}
.fi-arrow-from-left:before {content:"\f12c"}
.fi-arrow-from-right:before {content:"\f12d"}
.fi-arrow-from-top:before {content:"\f12e"}
.fi-arrow-left:before {content:"\f12f"}
.fi-arrow-right:before {content:"\f130"}
.fi-arrow-small-down:before {content:"\f131"}
.fi-arrow-small-left:before {content:"\f132"}
.fi-arrow-small-right:before {content:"\f133"}
.fi-arrow-small-up:before {content:"\f134"}
.fi-arrow-square-down:before {content:"\f135"}
.fi-arrow-square-left:before {content:"\f136"}
.fi-arrow-square-right:before {content:"\f137"}
.fi-arrow-square-up:before {content:"\f138"}
.fi-arrow-to-bottom:before {content:"\f139"}
.fi-arrow-to-left:before {content:"\f13a"}
.fi-arrow-to-right:before {content:"\f13b"}
.fi-arrow-to-top:before {content:"\f13c"}
.fi-arrow-up:before {content:"\f13d"}
.fi-arrows-alt:before {content:"\f13e"}
.fi-arrows-h-copy:before {content:"\f13f"}
.fi-arrows-h:before {content:"\f140"}
.fi-arrows:before {content:"\f141"}
.fi-assept-document:before {content:"\f142"}
.fi-asterik:before {content:"\f143"}
.fi-at:before {content:"\f144"}
.fi-aubergine:before {content:"\f145"}
.fi-avocado:before {content:"\f146"}
.fi-baby-carriage:before {content:"\f147"}
.fi-backpack:before {content:"\f148"}
.fi-bacon:before {content:"\f149"}
.fi-badge:before {content:"\f14a"}
.fi-balloons:before {content:"\f14b"}
.fi-ban:before {content:"\f14c"}
.fi-band-aid:before {content:"\f14d"}
.fi-bank:before {content:"\f14e"}
.fi-barber-shop:before {content:"\f14f"}
.fi-baseball-alt:before {content:"\f150"}
.fi-baseball:before {content:"\f151"}
.fi-basketball-hoop:before {content:"\f152"}
.fi-basketball:before {content:"\f153"}
.fi-bed:before {content:"\f154"}
.fi-beer:before {content:"\f155"}
.fi-bell-ring:before {content:"\f156"}
.fi-bell-school:before {content:"\f157"}
.fi-bell:before {content:"\f158"}
.fi-bike:before {content:"\f159"}
.fi-biking-mountain:before {content:"\f15a"}
.fi-biking:before {content:"\f15b"}
.fi-billiard:before {content:"\f15c"}
.fi-bold:before {content:"\f15d"}
.fi-bolt:before {content:"\f15e"}
.fi-book-alt:before {content:"\f15f"}
.fi-book:before {content:"\f160"}
.fi-bookmark:before {content:"\f161"}
.fi-bottle:before {content:"\f162"}
.fi-bow-arrow:before {content:"\f163"}
.fi-bowling-ball:before {content:"\f164"}
.fi-bowling-pins:before {content:"\f165"}
.fi-bowling:before {content:"\f166"}
.fi-box-alt:before {content:"\f167"}
.fi-box:before {content:"\f168"}
.fi-boxing-glove:before {content:"\f169"}
.fi-bread-slice:before {content:"\f16a"}
.fi-bread:before {content:"\f16b"}
.fi-briefcase:before {content:"\f16c"}
.fi-broccoli:before {content:"\f16d"}
.fi-broom:before {content:"\f16e"}
.fi-browser:before {content:"\f16f"}
.fi-brush:before {content:"\f170"}
.fi-bug:before {content:"\f171"}
.fi-building:before {content:"\f172"}
.fi-bulb:before {content:"\f173"}
.fi-burrito:before {content:"\f174"}
.fi-bus-alt:before {content:"\f175"}
.fi-bus:before {content:"\f176"}
.fi-butterfly:before {content:"\f177"}
.fi-cake-birthday:before {content:"\f178"}
.fi-cake-wedding:before {content:"\f179"}
.fi-calculator:before {content:"\f17a"}
.fi-calendar:before {content:"\f17b"}
.fi-call-history:before {content:"\f17c"}
.fi-call-incoming:before {content:"\f17d"}
.fi-call-missed:before {content:"\f17e"}
.fi-call-outgoing:before {content:"\f17f"}
.fi-camera:before {content:"\f180"}
.fi-camping:before {content:"\f181"}
.fi-candy-alt:before {content:"\f182"}
.fi-candy:before {content:"\f183"}
.fi-canned-food:before {content:"\f184"}
.fi-car-alt:before {content:"\f185"}
.fi-car-battery:before {content:"\f186"}
.fi-car-building:before {content:"\f187"}
.fi-car-bump:before {content:"\f188"}
.fi-car-bus:before {content:"\f189"}
.fi-car-crash:before {content:"\f18a"}
.fi-car-garage:before {content:"\f18b"}
.fi-car-mechanic:before {content:"\f18c"}
.fi-car-side:before {content:"\f18d"}
.fi-car-tilt:before {content:"\f18e"}
.fi-car-wash:before {content:"\f18f"}
.fi-car:before {content:"\f190"}
.fi-caravan-alt:before {content:"\f191"}
.fi-caravan:before {content:"\f192"}
.fi-caret-circle-down:before {content:"\f193"}
.fi-caret-circle-right:before {content:"\f194"}
.fi-caret-circle-up:before {content:"\f195"}
.fi-caret-down:before {content:"\f196"}
.fi-caret-left:before {content:"\f197"}
.fi-caret-quare-up:before {content:"\f198"}
.fi-caret-right:before {content:"\f199"}
.fi-caret-square-down:before {content:"\f19a"}
.fi-caret-square-left_1:before {content:"\f19b"}
.fi-caret-square-left:before {content:"\f19c"}
.fi-caret-square-right:before {content:"\f19d"}
.fi-caret-up:before {content:"\f19e"}
.fi-carrot:before {content:"\f19f"}
.fi-cars:before {content:"\f1a0"}
.fi-charging-station:before {content:"\f1a1"}
.fi-chart-connected:before {content:"\f1a2"}
.fi-chart-histogram:before {content:"\f1a3"}
.fi-chart-network:before {content:"\f1a4"}
.fi-chart-pie-alt:before {content:"\f1a5"}
.fi-chart-pie:before {content:"\f1a6"}
.fi-chart-pyramid:before {content:"\f1a7"}
.fi-chart-set-theory:before {content:"\f1a8"}
.fi-chart-tree:before {content:"\f1a9"}
.fi-chat-arrow-down:before {content:"\f1aa"}
.fi-chat-arrow-grow:before {content:"\f1ab"}
.fi-check:before {content:"\f1ac"}
.fi-checkbox:before {content:"\f1ad"}
.fi-cheese:before {content:"\f1ae"}
.fi-cherry:before {content:"\f1af"}
.fi-chess-piece:before {content:"\f1b0"}
.fi-chess-bishop:before {content:"\f1b1"}
.fi-chess-board:before {content:"\f1b2"}
.fi-chess-clock-alt:before {content:"\f1b3"}
.fi-chess-clock:before {content:"\f1b4"}
.fi-chess-king-alt:before {content:"\f1b5"}
.fi-chess-king:before {content:"\f1b6"}
.fi-chess-knight-alt:before {content:"\f1b7"}
.fi-chess-knight:before {content:"\f1b8"}
.fi-chess-pawn-alt:before {content:"\f1b9"}
.fi-chess-pawn:before {content:"\f1ba"}
.fi-chess-queen-alt:before {content:"\f1bb"}
.fi-chess-queen:before {content:"\f1bc"}
.fi-chess-rook-alt:before {content:"\f1bd"}
.fi-chess-rook:before {content:"\f1be"}
.fi-chess:before {content:"\f1bf"}
.fi-chevron-double-down:before {content:"\f1c0"}
.fi-chevron-double-up:before {content:"\f1c1"}
.fi-child-head:before {content:"\f1c2"}
.fi-chocolate:before {content:"\f1c3"}
.fi-circle-small:before {content:"\f1c4"}
.fi-circle:before {content:"\f1c5"}
.fi-clip:before {content:"\f1c6"}
.fi-clock:before {content:"\f1c7"}
.fi-cloud-upload:before {content:"\f1c8"}
.fi-cloud-check:before {content:"\f1c9"}
.fi-cloud-disabled:before {content:"\f1ca"}
.fi-cloud-download:before {content:"\f1cb"}
.fi-cloud-drizzle:before {content:"\f1cc"}
.fi-cloud-hail-mixed:before {content:"\f1cd"}
.fi-cloud-hail:before {content:"\f1ce"}
.fi-cloud-moon-rain:before {content:"\f1cf"}
.fi-cloud-moon:before {content:"\f1d0"}
.fi-cloud-rain:before {content:"\f1d1"}
.fi-cloud-rainbow:before {content:"\f1d2"}
.fi-cloud-share:before {content:"\f1d3"}
.fi-cloud-showers-heavy:before {content:"\f1d4"}
.fi-cloud-showers:before {content:"\f1d5"}
.fi-cloud-sleet:before {content:"\f1d6"}
.fi-cloud-snow:before {content:"\f1d7"}
.fi-cloud-sun-rain:before {content:"\f1d8"}
.fi-cloud-sun:before {content:"\f1d9"}
.fi-cloud:before {content:"\f1da"}
.fi-clouds-moon:before {content:"\f1db"}
.fi-clouds-sun:before {content:"\f1dc"}
.fi-clouds:before {content:"\f1dd"}
.fi-club:before {content:"\f1de"}
.fi-cocktail-alt:before {content:"\f1df"}
.fi-cocktail:before {content:"\f1e0"}
.fi-coffee-pot:before {content:"\f1e1"}
.fi-coffee:before {content:"\f1e2"}
.fi-comment-alt:before {content:"\f1e3"}
.fi-comment-check:before {content:"\f1e4"}
.fi-comment-heart:before {content:"\f1e5"}
.fi-comment-info:before {content:"\f1e6"}
.fi-comment-user:before {content:"\f1e7"}
.fi-comment:before {content:"\f1e8"}
.fi-comments:before {content:"\f1e9"}
.fi-compress-alt:before {content:"\f1ea"}
.fi-compress:before {content:"\f1eb"}
.fi-computer:before {content:"\f1ec"}
.fi-confetti:before {content:"\f1ed"}
.fi-cookie:before {content:"\f1ee"}
.fi-copy-alt:before {content:"\f1ef"}
.fi-copy:before {content:"\f1f0"}
.fi-copyright:before {content:"\f1f1"}
.fi-corn:before {content:"\f1f2"}
.fi-cow:before {content:"\f1f3"}
.fi-cream:before {content:"\f1f4"}
.fi-credit-card:before {content:"\f1f5"}
.fi-cricket:before {content:"\f1f6"}
.fi-croissant:before {content:"\f1f7"}
.fi-cross-circle:before {content:"\f1f8"}
.fi-cross-small:before {content:"\f1f9"}
.fi-cross:before {content:"\f1fa"}
.fi-crown:before {content:"\f1fb"}
.fi-cube:before {content:"\f1fc"}
.fi-cupcake:before {content:"\f1fd"}
.fi-curling:before {content:"\f1fe"}
.fi-cursor-finger:before {content:"\f1ff"}
.fi-cursor-plus:before {content:"\f200"}
.fi-cursor-text-alt:before {content:"\f201"}
.fi-cursor-text:before {content:"\f202"}
.fi-cursor:before {content:"\f203"}
.fi-dart:before {content:"\f204"}
.fi-dashboard:before {content:"\f205"}
.fi-data-transfer:before {content:"\f206"}
.fi-database:before {content:"\f207"}
.fi-delete-document:before {content:"\f208"}
.fi-delete-user:before {content:"\f209"}
.fi-delete:before {content:"\f20a"}
.fi-dewpoint:before {content:"\f20b"}
.fi-diamond:before {content:"\f20c"}
.fi-dice-alt:before {content:"\f20d"}
.fi-dice-d10:before {content:"\f20e"}
.fi-dice-d12:before {content:"\f20f"}
.fi-dice-d20:before {content:"\f210"}
.fi-dice-d4:before {content:"\f211"}
.fi-dice-d6:before {content:"\f212"}
.fi-dice-d8:before {content:"\f213"}
.fi-dice-four:before {content:"\f214"}
.fi-dice-one:before {content:"\f215"}
.fi-dice-six:before {content:"\f216"}
.fi-dice-three:before {content:"\f217"}
.fi-dice-two:before {content:"\f218"}
.fi-dice:before {content:"\f219"}
.fi-diploma:before {content:"\f21a"}
.fi-disco-ball:before {content:"\f21b"}
.fi-disk:before {content:"\f21c"}
.fi-dizzy:before {content:"\f21d"}
.fi-doctor:before {content:"\f21e"}
.fi-document-signed:before {content:"\f21f"}
.fi-document:before {content:"\f220"}
.fi-dollar:before {content:"\f221"}
.fi-download:before {content:"\f222"}
.fi-dreidel:before {content:"\f223"}
.fi-drink-alt:before {content:"\f224"}
.fi-drumstick:before {content:"\f225"}
.fi-duplicate:before {content:"\f226"}
.fi-e-learning:before {content:"\f227"}
.fi-earnings:before {content:"\f228"}
.fi-eclipse-alt:before {content:"\f229"}
.fi-eclipse:before {content:"\f22a"}
.fi-edit-alt:before {content:"\f22b"}
.fi-edit:before {content:"\f22c"}
.fi-egg-fried:before {content:"\f22d"}
.fi-egg:before {content:"\f22e"}
.fi-engine-warning:before {content:"\f22f"}
.fi-envelope-ban:before {content:"\f230"}
.fi-envelope-download:before {content:"\f231"}
.fi-envelope-marker:before {content:"\f232"}
.fi-envelope-open:before {content:"\f233"}
.fi-envelope-plus:before {content:"\f234"}
.fi-envelope:before {content:"\f235"}
.fi-euro:before {content:"\f236"}
.fi-exchange-alt:before {content:"\f237"}
.fi-exchange:before {content:"\f238"}
.fi-exclamation:before {content:"\f239"}
.fi-expand-arrows-alt:before {content:"\f23a"}
.fi-expand-arrows:before {content:"\f23b"}
.fi-expand:before {content:"\f23c"}
.fi-eye-crossed:before {content:"\f23d"}
.fi-eye-dropper:before {content:"\f23e"}
.fi-eye:before {content:"\f23f"}
.fi-feather:before {content:"\f240"}
.fi-ferris-wheel:before {content:"\f241"}
.fi-field-hockey:before {content:"\f242"}
.fi-fighter-jet:before {content:"\f243"}
.fi-file-ai:before {content:"\f244"}
.fi-file-eps:before {content:"\f245"}
.fi-file-psd:before {content:"\f246"}
.fi-file:before {content:"\f247"}
.fi-fill:before {content:"\f248"}
.fi-film:before {content:"\f249"}
.fi-filter:before {content:"\f24a"}
.fi-fingerprint:before {content:"\f24b"}
.fi-fish:before {content:"\f24c"}
.fi-flag:before {content:"\f24d"}
.fi-flame:before {content:"\f24e"}
.fi-flip-horizontal:before {content:"\f24f"}
.fi-flower-bouquet:before {content:"\f250"}
.fi-flower-tulip:before {content:"\f251"}
.fi-flower:before {content:"\f252"}
.fi-flushed:before {content:"\f253"}
.fi-fog:before {content:"\f254"}
.fi-folder:before {content:"\f255"}
.fi-following:before {content:"\f256"}
.fi-football:before {content:"\f257"}
.fi-fork:before {content:"\f258"}
.fi-form:before {content:"\f259"}
.fi-forward:before {content:"\f25a"}
.fi-fox:before {content:"\f25b"}
.fi-french-fries:before {content:"\f25c"}
.fi-ftp:before {content:"\f25d"}
.fi-gallery:before {content:"\f25e"}
.fi-game-board-alt:before {content:"\f25f"}
.fi-gamepad:before {content:"\f260"}
.fi-garage-car:before {content:"\f261"}
.fi-garage-open:before {content:"\f262"}
.fi-garage:before {content:"\f263"}
.fi-garlic:before {content:"\f264"}
.fi-gas-pump-alt:before {content:"\f265"}
.fi-gas-pump-slash:before {content:"\f266"}
.fi-gas-pump:before {content:"\f267"}
.fi-gem:before {content:"\f268"}
.fi-gif:before {content:"\f269"}
.fi-gift:before {content:"\f26a"}
.fi-gingerbread-man:before {content:"\f26b"}
.fi-glass-cheers:before {content:"\f26c"}
.fi-glass:before {content:"\f26d"}
.fi-glasses:before {content:"\f26e"}
.fi-globe-alt:before {content:"\f26f"}
.fi-globe:before {content:"\f270"}
.fi-golf-ball:before {content:"\f271"}
.fi-golf-club:before {content:"\f272"}
.fi-golf:before {content:"\f273"}
.fi-graduation-cap:before {content:"\f274"}
.fi-grape:before {content:"\f275"}
.fi-graphic-tablet:before {content:"\f276"}
.fi-grid-alt:before {content:"\f277"}
.fi-grid:before {content:"\f278"}
.fi-grill:before {content:"\f279"}
.fi-grimace:before {content:"\f27a"}
.fi-grin-alt:before {content:"\f27b"}
.fi-grin-beam-sweat:before {content:"\f27c"}
.fi-grin-beam:before {content:"\f27d"}
.fi-grin-hearts:before {content:"\f27e"}
.fi-grin-squint-tears:before {content:"\f27f"}
.fi-grin-squint:before {content:"\f280"}
.fi-grin-stars:before {content:"\f281"}
.fi-grin-tears:before {content:"\f282"}
.fi-grin-tongue-squint:before {content:"\f283"}
.fi-grin-tongue-wink:before {content:"\f284"}
.fi-grin-tongue:before {content:"\f285"}
.fi-grin-wink:before {content:"\f286"}
.fi-grin:before {content:"\f287"}
.fi-guitar:before {content:"\f288"}
.fi-gym:before {content:"\f289"}
.fi-hamburger-soda:before {content:"\f28a"}
.fi-hamburger:before {content:"\f28b"}
.fi-hastag:before {content:"\f28c"}
.fi-hat-birthday:before {content:"\f28d"}
.fi-hat-chef:before {content:"\f28e"}
.fi-head-side-thinking:before {content:"\f28f"}
.fi-headphones:before {content:"\f290"}
.fi-headset:before {content:"\f291"}
.fi-heart-arrow:before {content:"\f292"}
.fi-heart:before {content:"\f293"}
.fi-heat:before {content:"\f294"}
.fi-helicopter-side:before {content:"\f295"}
.fi-hiking:before {content:"\f296"}
.fi-hockey-mask:before {content:"\f297"}
.fi-hockey-puck:before {content:"\f298"}
.fi-hockey-sticks:before {content:"\f299"}
.fi-home-location-alt:before {content:"\f29a"}
.fi-home-location:before {content:"\f29b"}
.fi-home:before {content:"\f29c"}
.fi-hotdog:before {content:"\f29d"}
.fi-hourglass-end:before {content:"\f29e"}
.fi-hourglass:before {content:"\f29f"}
.fi-house-flood:before {content:"\f2a0"}
.fi-humidity:before {content:"\f2a1"}
.fi-hurricane:before {content:"\f2a2"}
.fi-ice-cream:before {content:"\f2a3"}
.fi-ice-skate:before {content:"\f2a4"}
.fi-id-badge:before {content:"\f2a5"}
.fi-inbox:before {content:"\f2a6"}
.fi-incognito:before {content:"\f2a7"}
.fi-indent:before {content:"\f2a8"}
.fi-infinity:before {content:"\f2a9"}
.fi-info:before {content:"\f2aa"}
.fi-interactive:before {content:"\f2ab"}
.fi-interlining:before {content:"\f2ac"}
.fi-interrogation:before {content:"\f2ad"}
.fi-italic:before {content:"\f2ae"}
.fi-jam:before {content:"\f2af"}
.fi-jpg:before {content:"\f2b0"}
.fi-key:before {content:"\f2b1"}
.fi-keyboard:before {content:"\f2b2"}
.fi-kiss-beam:before {content:"\f2b3"}
.fi-kiss-wink-heart:before {content:"\f2b4"}
.fi-kiss:before {content:"\f2b5"}
.fi-kite:before {content:"\f2b6"}
.fi-knife:before {content:"\f2b7"}
.fi-label:before {content:"\f2b8"}
.fi-laptop:before {content:"\f2b9"}
.fi-lasso:before {content:"\f2ba"}
.fi-laugh-beam:before {content:"\f2bb"}
.fi-laugh-squint:before {content:"\f2bc"}
.fi-laugh-wink:before {content:"\f2bd"}
.fi-laugh:before {content:"\f2be"}
.fi-layers:before {content:"\f2bf"}
.fi-layout-fluid:before {content:"\f2c0"}
.fi-leaf:before {content:"\f2c1"}
.fi-lemon:before {content:"\f2c2"}
.fi-letter-case:before {content:"\f2c3"}
.fi-lettuce:before {content:"\f2c4"}
.fi-level-down-alt:before {content:"\f2c5"}
.fi-level-down:before {content:"\f2c6"}
.fi-level-up-alt:before {content:"\f2c7"}
.fi-level-up:before {content:"\f2c8"}
.fi-life-ring:before {content:"\f2c9"}
.fi-line-width:before {content:"\f2ca"}
.fi-link:before {content:"\f2cb"}
.fi-lipstick:before {content:"\f2cc"}
.fi-list-check:before {content:"\f2cd"}
.fi-list:before {content:"\f2ce"}
.fi-loading:before {content:"\f2cf"}
.fi-location-alt:before {content:"\f2d0"}
.fi-lock-alt:before {content:"\f2d1"}
.fi-lock:before {content:"\f2d2"}
.fi-luchador:before {content:"\f2d3"}
.fi-luggage-rolling:before {content:"\f2d4"}
.fi-magic-wand:before {content:"\f2d5"}
.fi-makeup-brush:before {content:"\f2d6"}
.fi-man-head:before {content:"\f2d7"}
.fi-map-marker-cross:before {content:"\f2d8"}
.fi-map-marker-home:before {content:"\f2d9"}
.fi-map-marker-minus:before {content:"\f2da"}
.fi-map-marker-plus:before {content:"\f2db"}
.fi-map-marker:before {content:"\f2dc"}
.fi-map:before {content:"\f2dd"}
.fi-marker-time:before {content:"\f2de"}
.fi-marker:before {content:"\f2df"}
.fi-mask-carnival:before {content:"\f2e0"}
.fi-medicine:before {content:"\f2e1"}
.fi-megaphone:before {content:"\f2e2"}
.fi-meh-blank:before {content:"\f2e3"}
.fi-meh-rolling-eyes:before {content:"\f2e4"}
.fi-melon:before {content:"\f2e5"}
.fi-menu-burger:before {content:"\f2e6"}
.fi-menu-dots-vertical:before {content:"\f2e7"}
.fi-menu-dots:before {content:"\f2e8"}
.fi-meteor:before {content:"\f2e9"}
.fi-microphone-alt:before {content:"\f2ea"}
.fi-microphone:before {content:"\f2eb"}
.fi-minus-small:before {content:"\f2ec"}
.fi-minus:before {content:"\f2ed"}
.fi-mobile:before {content:"\f2ee"}
.fi-mode-landscape:before {content:"\f2ef"}
.fi-mode-portrait:before {content:"\f2f0"}
.fi-money:before {content:"\f2f1"}
.fi-moon-stars:before {content:"\f2f2"}
.fi-moon:before {content:"\f2f3"}
.fi-motorcycle:before {content:"\f2f4"}
.fi-mountains:before {content:"\f2f5"}
.fi-mouse:before {content:"\f2f6"}
.fi-mug-alt:before {content:"\f2f7"}
.fi-mug-hot-alt:before {content:"\f2f8"}
.fi-mug-hot:before {content:"\f2f9"}
.fi-mug-tea:before {content:"\f2fa"}
.fi-mug:before {content:"\f2fb"}
.fi-mushroom:before {content:"\f2fc"}
.fi-music-file:before {content:"\f2fd"}
.fi-music-alt:before {content:"\f2fe"}
.fi-music:before {content:"\f2ff"}
.fi-navigation:before {content:"\f300"}
.fi-network-cloud:before {content:"\f301"}
.fi-network:before {content:"\f302"}
.fi-noodles:before {content:"\f303"}
.fi-notebook:before {content:"\f304"}
.fi-oil-can:before {content:"\f305"}
.fi-oil-temp:before {content:"\f306"}
.fi-olive-oil:before {content:"\f307"}
.fi-olives:before {content:"\f308"}
.fi-onion:before {content:"\f309"}
.fi-opacity:before {content:"\f30a"}
.fi-package:before {content:"\f30b"}
.fi-paint-brush:before {content:"\f30c"}
.fi-palette:before {content:"\f30d"}
.fi-pan:before {content:"\f30e"}
.fi-paper-plane:before {content:"\f30f"}
.fi-password:before {content:"\f310"}
.fi-pause:before {content:"\f311"}
.fi-paw:before {content:"\f312"}
.fi-peach:before {content:"\f313"}
.fi-pencil:before {content:"\f314"}
.fi-pennant:before {content:"\f315"}
.fi-pepper-hot:before {content:"\f316"}
.fi-pepper:before {content:"\f317"}
.fi-pharmacy:before {content:"\f318"}
.fi-phone-call:before {content:"\f319"}
.fi-phone-cross:before {content:"\f31a"}
.fi-phone-pause:before {content:"\f31b"}
.fi-phone-slash:before {content:"\f31c"}
.fi-physics:before {content:"\f31d"}
.fi-picnic:before {content:"\f31e"}
.fi-picture:before {content:"\f31f"}
.fi-pie:before {content:"\f320"}
.fi-pineapple:before {content:"\f321"}
.fi-ping-pong:before {content:"\f322"}
.fi-pizza-slice:before {content:"\f323"}
.fi-plane-alt:before {content:"\f324"}
.fi-plane:before {content:"\f325"}
.fi-plate:before {content:"\f326"}
.fi-play-alt:before {content:"\f327"}
.fi-play:before {content:"\f328"}
.fi-playing-cards:before {content:"\f329"}
.fi-plus-small:before {content:"\f32a"}
.fi-plus:before {content:"\f32b"}
.fi-poker-chip:before {content:"\f32c"}
.fi-poo:before {content:"\f32d"}
.fi-popcorn:before {content:"\f32e"}
.fi-portrait:before {content:"\f32f"}
.fi-pot:before {content:"\f330"}
.fi-pound:before {content:"\f331"}
.fi-power:before {content:"\f332"}
.fi-presentation:before {content:"\f333"}
.fi-print:before {content:"\f334"}
.fi-protractor:before {content:"\f335"}
.fi-pulse:before {content:"\f336"}
.fi-pumpkin:before {content:"\f337"}
.fi-puzzle-piece:before {content:"\f338"}
.fi-pyramid:before {content:"\f339"}
.fi-quote-right:before {content:"\f33a"}
.fi-radish:before {content:"\f33b"}
.fi-rainbow:before {content:"\f33c"}
.fi-raindrops:before {content:"\f33d"}
.fi-raquet:before {content:"\f33e"}
.fi-rec:before {content:"\f33f"}
.fi-receipt:before {content:"\f340"}
.fi-record-vinyl:before {content:"\f341"}
.fi-rectabgle-vertical:before {content:"\f342"}
.fi-rectangle-horizontal:before {content:"\f343"}
.fi-rectangle-panoramic:before {content:"\f344"}
.fi-recycle:before {content:"\f345"}
.fi-redo-alt:before {content:"\f346"}
.fi-redo:before {content:"\f347"}
.fi-reflect:before {content:"\f348"}
.fi-refresh:before {content:"\f349"}
.fi-remove-user:before {content:"\f34a"}
.fi-resize:before {content:"\f34b"}
.fi-resources:before {content:"\f34c"}
.fi-restaurant:before {content:"\f34d"}
.fi-rewind:before {content:"\f34e"}
.fi-rhombus:before {content:"\f34f"}
.fi-rings-wedding:before {content:"\f350"}
.fi-road:before {content:"\f351"}
.fi-rocket-lunch:before {content:"\f352"}
.fi-rocket:before {content:"\f353"}
.fi-room-service:before {content:"\f354"}
.fi-rotate-right:before {content:"\f355"}
.fi-rugby-helmet:before {content:"\f356"}
.fi-rugby:before {content:"\f357"}
.fi-running:before {content:"\f358"}
.fi-rv:before {content:"\f359"}
.fi-sad-cry:before {content:"\f35a"}
.fi-sad-tear:before {content:"\f35b"}
.fi-sad:before {content:"\f35c"}
.fi-salad:before {content:"\f35d"}
.fi-salt-pepper:before {content:"\f35e"}
.fi-sandwich:before {content:"\f35f"}
.fi-sauce:before {content:"\f360"}
.fi-sausage:before {content:"\f361"}
.fi-scale:before {content:"\f362"}
.fi-school-bus:before {content:"\f363"}
.fi-school:before {content:"\f364"}
.fi-scissors:before {content:"\f365"}
.fi-screen:before {content:"\f366"}
.fi-search-alt:before {content:"\f367"}
.fi-search-heart:before {content:"\f368"}
.fi-search:before {content:"\f369"}
.fi-settings-sliders:before {content:"\f36a"}
.fi-settings:before {content:"\f36b"}
.fi-share:before {content:"\f36c"}
.fi-shield-check:before {content:"\f36d"}
.fi-shield-exclamation:before {content:"\f36e"}
.fi-shield-interrogation:before {content:"\f36f"}
.fi-shield-plus:before {content:"\f370"}
.fi-shield:before {content:"\f371"}
.fi-ship-side:before {content:"\f372"}
.fi-ship:before {content:"\f373"}
.fi-shop:before {content:"\f374"}
.fi-shopping-bag-add:before {content:"\f375"}
.fi-shopping-bag:before {content:"\f376"}
.fi-shopping-cart-add:before {content:"\f377"}
.fi-shopping-cart-check:before {content:"\f378"}
.fi-shopping-cart:before {content:"\f379"}
.fi-shrimp:before {content:"\f37a"}
.fi-shuffle:before {content:"\f37b"}
.fi-shuttle-van:before {content:"\f37c"}
.fi-shuttlecock:before {content:"\f37d"}
.fi-sign-in-alt:before {content:"\f37e"}
.fi-sign-in:before {content:"\f37f"}
.fi-sign-out-alt:before {content:"\f380"}
.fi-sign-out:before {content:"\f381"}
.fi-signal-alt-1:before {content:"\f382"}
.fi-signal-alt-2:before {content:"\f383"}
.fi-signal-alt:before {content:"\f384"}
.fi-skateboard:before {content:"\f385"}
.fi-skating:before {content:"\f386"}
.fi-skewer:before {content:"\f387"}
.fi-ski-jump:before {content:"\f388"}
.fi-ski-lift:before {content:"\f389"}
.fi-skiing-nordic:before {content:"\f38a"}
.fi-skiing:before {content:"\f38b"}
.fi-sledding:before {content:"\f38c"}
.fi-sleigh:before {content:"\f38d"}
.fi-smartphone:before {content:"\f38e"}
.fi-smile-beam:before {content:"\f38f"}
.fi-smog:before {content:"\f390"}
.fi-smoke:before {content:"\f391"}
.fi-snow-blowing:before {content:"\f392"}
.fi-snowboarding:before {content:"\f393"}
.fi-snowflake:before {content:"\f394"}
.fi-snowflakes:before {content:"\f395"}
.fi-snowmobile:before {content:"\f396"}
.fi-snowplow:before {content:"\f397"}
.fi-soap:before {content:"\f398"}
.fi-sort:before {content:"\f399"}
.fi-soup:before {content:"\f39a"}
.fi-spa:before {content:"\f39b"}
.fi-space-shuttle:before {content:"\f39c"}
.fi-spade:before {content:"\f39d"}
.fi-sparkles:before {content:"\f39e"}
.fi-speaker:before {content:"\f39f"}
.fi-sphere:before {content:"\f3a0"}
.fi-spinner:before {content:"\f3a1"}
.fi-spoon:before {content:"\f3a2"}
.fi-square-root:before {content:"\f3a3"}
.fi-square:before {content:"\f3a4"}
.fi-star-octogram:before {content:"\f3a5"}
.fi-star:before {content:"\f3a6"}
.fi-starfighter:before {content:"\f3a7"}
.fi-stars:before {content:"\f3a8"}
.fi-stats:before {content:"\f3a9"}
.fi-steak:before {content:"\f3aa"}
.fi-steering-wheel:before {content:"\f3ab"}
.fi-stethoscope:before {content:"\f3ac"}
.fi-sticker:before {content:"\f3ad"}
.fi-stop:before {content:"\f3ae"}
.fi-stopwatch:before {content:"\f3af"}
.fi-strawberry:before {content:"\f3b0"}
.fi-subtitles:before {content:"\f3b1"}
.fi-subway:before {content:"\f3b2"}
.fi-sun:before {content:"\f3b3"}
.fi-sunrise-alt:before {content:"\f3b4"}
.fi-sunrise:before {content:"\f3b5"}
.fi-sunset:before {content:"\f3b6"}
.fi-surfing:before {content:"\f3b7"}
.fi-surprise:before {content:"\f3b8"}
.fi-sushi:before {content:"\f3b9"}
.fi-swimmer:before {content:"\f3ba"}
.fi-sword:before {content:"\f3bb"}
.fi-syringe:before {content:"\f3bc"}
.fi-tablet:before {content:"\f3bd"}
.fi-tachometer-alt-average:before {content:"\f3be"}
.fi-tachometer-alt-fastest:before {content:"\f3bf"}
.fi-tachometer-alt-slow:before {content:"\f3c0"}
.fi-tachometer-alt-slowest:before {content:"\f3c1"}
.fi-tachometer-average:before {content:"\f3c2"}
.fi-tachometer-fast:before {content:"\f3c3"}
.fi-tachometer-fastest:before {content:"\f3c4"}
.fi-tachometer-slow:before {content:"\f3c5"}
.fi-tachometer-slowest:before {content:"\f3c6"}
.fi-tachometer:before {content:"\f3c7"}
.fi-taco:before {content:"\f3c8"}
.fi-target:before {content:"\f3c9"}
.fi-taxi:before {content:"\f3ca"}
.fi-temperature-down:before {content:"\f3cb"}
.fi-temperature-frigid:before {content:"\f3cc"}
.fi-temperature-high:before {content:"\f3cd"}
.fi-temperature-hot:before {content:"\f3ce"}
.fi-temperature-low:before {content:"\f3cf"}
.fi-temperature-up:before {content:"\f3d0"}
.fi-tennis:before {content:"\f3d1"}
.fi-terrace:before {content:"\f3d2"}
.fi-test-tube:before {content:"\f3d3"}
.fi-test:before {content:"\f3d4"}
.fi-text-check:before {content:"\f3d5"}
.fi-text:before {content:"\f3d6"}
.fi-thermometer-half:before {content:"\f3d7"}
.fi-thumbs-down:before {content:"\f3d8"}
.fi-thumbs-up:before {content:"\f3d9"}
.fi-thumbtack:before {content:"\f3da"}
.fi-thunderstorm-moon:before {content:"\f3db"}
.fi-thunderstorm-sun:before {content:"\f3dc"}
.fi-thunderstorm:before {content:"\f3dd"}
.fi-ticket:before {content:"\f3de"}
.fi-time-add:before {content:"\f3df"}
.fi-time-check:before {content:"\f3e0"}
.fi-time-delete:before {content:"\f3e1"}
.fi-time-fast:before {content:"\f3e2"}
.fi-time-forward-sixty:before {content:"\f3e3"}
.fi-time-forward-ten:before {content:"\f3e4"}
.fi-time-forward:before {content:"\f3e5"}
.fi-time-half-past:before {content:"\f3e6"}
.fi-time-oclock:before {content:"\f3e7"}
.fi-time-past:before {content:"\f3e8"}
.fi-time-quarter-to:before {content:"\f3e9"}
.fi-time-quarter-past:before {content:"\f3ea"}
.fi-time-twenty-four:before {content:"\f3eb"}
.fi-tire-flat:before {content:"\f3ec"}
.fi-tire-pressure-warning:before {content:"\f3ed"}
.fi-tire-rugged:before {content:"\f3ee"}
.fi-tire:before {content:"\f3ef"}
.fi-tired:before {content:"\f3f0"}
.fi-tomato:before {content:"\f3f1"}
.fi-tool-crop:before {content:"\f3f2"}
.fi-tool-marquee:before {content:"\f3f3"}
.fi-tooth:before {content:"\f3f4"}
.fi-tornado:before {content:"\f3f5"}
.fi-tractor:before {content:"\f3f6"}
.fi-trailer:before {content:"\f3f7"}
.fi-train-side:before {content:"\f3f8"}
.fi-train:before {content:"\f3f9"}
.fi-tram:before {content:"\f3fa"}
.fi-transform:before {content:"\f3fb"}
.fi-trash:before {content:"\f3fc"}
.fi-treatment:before {content:"\f3fd"}
.fi-tree-christmas:before {content:"\f3fe"}
.fi-tree:before {content:"\f3ff"}
.fi-triangle:before {content:"\f400"}
.fi-trophy:before {content:"\f401"}
.fi-truck-container:before {content:"\f402"}
.fi-truck-couch:before {content:"\f403"}
.fi-truck-loading:before {content:"\f404"}
.fi-truck-monster:before {content:"\f405"}
.fi-truck-moving:before {content:"\f406"}
.fi-truck-pickup:before {content:"\f407"}
.fi-truck-plow:before {content:"\f408"}
.fi-truck-ramp:before {content:"\f409"}
.fi-truck-side:before {content:"\f40a"}
.fi-turkey:before {content:"\f40b"}
.fi-umbrella:before {content:"\f40c"}
.fi-underline:before {content:"\f40d"}
.fi-undo-alt:before {content:"\f40e"}
.fi-undo:before {content:"\f40f"}
.fi-unlock:before {content:"\f410"}
.fi-upload:before {content:"\f411"}
.fi-usb-pendrive:before {content:"\f412"}
.fi-user-add:before {content:"\f413"}
.fi-user-time:before {content:"\f414"}
.fi-user:before {content:"\f415"}
.fi-users-alt:before {content:"\f416"}
.fi-users:before {content:"\f417"}
.fi-utensils:before {content:"\f418"}
.fi-vector-alt:before {content:"\f419"}
.fi-vector:before {content:"\f41a"}
.fi-video-camera:before {content:"\f41b"}
.fi-volcano:before {content:"\f41c"}
.fi-volleyball:before {content:"\f41d"}
.fi-volume:before {content:"\f41e"}
.fi-wagon-covered:before {content:"\f41f"}
.fi-water-bottle:before {content:"\f420"}
.fi-water-lower:before {content:"\f421"}
.fi-water-rise:before {content:"\f422"}
.fi-water:before {content:"\f423"}
.fi-watermelon:before {content:"\f424"}
.fi-wheat:before {content:"\f425"}
.fi-wheelchair:before {content:"\f426"}
.fi-whistle:before {content:"\f427"}
.fi-wifi-alt:before {content:"\f428"}
.fi-wind-warning:before {content:"\f429"}
.fi-wind:before {content:"\f42a"}
.fi-windsock:before {content:"\f42b"}
.fi-woman-head:before {content:"\f42c"}
.fi-world:before {content:"\f42d"}
.fi-yen:before {content:"\f42e"}
.fi-zoom-in:before {content:"\f42f"}
.fi-zoom-out:before {content:"\f430"}
